<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PackMart</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://thumbs2.imgbox.com/93/43/xRuBFCIX_t.png" />


  </head>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a href="{% url 'welcome' %}"><img src="https://images2.imgbox.com/23/5a/VygMdV5P_o.png" alt="image host" style="width:100px;"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop_create' %}">Create New Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop_list' %}">My Shops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop_list' %}">Explore Shops</a>
        </li>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Shops
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.user.is_authenticated %}
              {% for shop in request.usershops %}
              <a class="dropdown-item" href="{% url 'shop_read' %}">{{ shop.name }}</a>
              {% endfor %}
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'shop_create' %}">Create Shop</a>
          </div>
        </li>-->
      </ul>
      <!--<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger" type="submit">Search All</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            {% if request.user.is_authenticated %}
              <a class="nav-link" href="{% url 'logout' %}?next=/">Logout</a>
            {% else %}
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
          </li>
      </ul>
    </div>
  </nav>
</html>
